<nav
  class="navbar navbar-expand-lg navbar-light bg-transparent position-fixed top-0 w-100"
>
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold" routerLink="/">Acceuil</a>
    <a class="navbar-brand text-primary fw-bold" routerLink="/pokemon-list"
      >Liste</a
    >
    <a class="navbar-brand text-primary fw-bold" routerLink="/pokedex"
      >Pokedex</a
    >
    <a class="navbar-brand text-primary fw-bold" routerLink="/pokemon-team"
      >Mon équipe</a
    >
  </div>
</nav>
